#myPhoto {
    height: 350px;
}

#validators {
    flex-direction: row;
    margin-top: 16px;
    position: relative;
    margin-left: 60px;
}

footer {
    float: bottom;
    flex-direction: row;
    width: 100%;
    background: cyan;
    padding: 4px;
}

.aboutMe {
    padding-left: 60px;
}