body {
    padding: 12px;
    margin: 0;
    width: 100%;
    background-color: #bbff9eff;
}

.moodImage {
    width: 300px;
    height: 300px;
}

.topics {
    margin: 6px;
    padding-bottom: 12px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Arial Black", serif;
}

h3 {
    color: darkblue;
    font-family: monospace;
}

.highlight {
    color: green;
    font-style: italic;
    font-family: "Courier 10 Pitch", serif;
}

.description {
    text-align: start;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

hr {
    background-color: cadetblue;
    height: 1px;
    border: none;
}

a {
  background-color: transparent;
}

.moods {
    display: flex;
    justify-content: start;
    padding: 12px;
}

ol {
    counter-reset: my-custom-counter 4;
    list-style: none;
}

ol li {
    counter-increment: my-custom-counter -1;
    padding-bottom: 8px;
}

ol li::before {
    content: counter(my-custom-counter) '. ';
    font-size: 1rem;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.firstCharacter {
    font-size: 1.5rem;
    color: #00ff00;
}

div.type {
    color: #0F00FF;
}

div.value {
    padding-left: 24pt;
}

#validators {
    flex-direction: row;
    margin-top: 16px;
    position: relative;
}
